.App {
  text-align: center;
  padding: 15% 10% 25% 10%;
}

.html, body {
  background-color: #191414;
  height: 100%;
}

.bg-black {
  background-color: #191414;
}

.bg-green {
  background-color: #1DB954;
}

.text-black {
  color: #191414;
}

.text-white {
  color: #FFFFFF;
}

.title {
  margin: 0.8em auto auto auto;
  color: #1DB954;
  font-size: 5em;
}

.wrap-text {
  overflow: hidden;
}

#url {
  width: 22em;
  border-radius: 1em;
  border: none;
  padding: 0.4em 0.8em;
  margin: 1em 0.5em;
}

#submit-button {
  background-color: #1DB954;
  color: #191414;
  border: none;
  border-radius: 1em;
  padding: 0.4em 0.8em;
}

#submit-button:hover {
  background-color: #1e8f46;
}

.round-button {
  border-radius: 2em;
  border: none;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.round-button:hover {
  background-color: #1e8f46;
  color: #191414;
  text-decoration: none;
}

.normalise-font-size {
  font-size: 1em;
}
