.App {
  text-align: center;
  padding: 15% 10% 25% 10%;
}

html {
  background-color: #252323;
}

.light-font {
  color: #D7CDCC;
}

.title {
  margin: 0.8em auto auto auto;
  color: #1ED760;
  font-size: 5em;
}

.wrap-text {
  overflow: hidden;
}

#url {
  width: 22em;
}

.round-green-button {
  background-color: #1ED760;
  color: #252323;
  border-radius: 2em;
  border: none;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.normalise-font {
  font-size: 1em;
}