.playlist {
    align-items: center;
    background-color: #322c2c;
    border-radius: 20px;
    border: 2px solid #322c2c;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    text-decoration: none;
    width: 300px;
}

.playlist:hover {
    border: 2px solid #FFFFFF;
}
